<h3>Alert Level = <%= @node.level %></h3>
<div class="info-box bg-<%= @param['style']['color'] %>" style="height: 160px;">
  <span class="info-box-icon" style="height: 160px; width: 160px; line-height: 160px; font-size: 100px;">
    <i class="icon fa <%= @param['style']['icon'] %>" aria-hidden="true"></i>
  </span>
  <div class="info-box-content">
    <p>
      <span style="font-size: 44px;"><%= @param['title'] %></span>
      <span style="font-size: 18px;">Level <%= @node.level %></span>
      <br />
    <%- if @node.level > 1 -%>
      <span style="font-size: 18px;">Last alert happened at <b><%= @last_alerted %></b>.</span>
    <%- else -%>
      <span style="font-size: 18px;">No alert in last <b><%= @no_alert_span %></b>.</span>
    <%- end -%>
    </p>
    <div class="row" align="center">
      <button class="btn btn-default btn-lg"><i class="fa fa-envelope-o"></i> <a href="#">Notifications</a></button>
      <button class="btn btn-default btn-lg"><i class="fa fa-feed"></i> <a href="#">Alerts</a></button>
    </div>
  </div>
</div>
<div class="row">
<%- @children.each do |c| -%>
  <div class="col-md-4">
    <div class="info-box bg-<%= c['style']['color'] %>" style="height: 90px;">
      <span class="info-box-icon">
        <i class="icon fa <%= c['style']['icon'] %>" aria-hidden="true"></i>
      </span>
      <div class="info-box-content">
        <p>
        Path: <%= c['group'] %><br />
        <%= c['title'] %>
        Lv <%= c['level'] %>
        </p>
        <div class="row" align="center">
          <button class="btn btn-default btn-sm"><i class="fa fa-envelope-o"></i> <a href="#">notifies</a></button>
          <button class="btn btn-default btn-sm"><i class="fa fa-feed"></i> <a href="#">alerts</a></button>
        </div>
      </div>
    </div>
  </div>
<%- end -%>
</div>
