<!-- Content Header (Page header) -->
<section class="content-header">
<h1>Dashboard
<%- @group_breadcrumb.each do |bc| -%>
  <span class="icon">
  <i class="icon fa fa-angle-double-right" aria-hidden="true"></i>
  </span>
  <a href="<%= bc[:path] %>"><%= bc[:name] %></a>
<%- end -%>
</h1>
</section>

<!-- Main content -->
<section class="content">

<!--<h3>Alert Level = <%= @node.level %></h3>-->
<div class="info-box bg-<%= @param[:style][:color] %> ibx-main">
  <a href="/board<%= @node.group %>" class="icon">
  <span class="info-box-icon ibx-main">
    <i class="icon fa <%= @param[:style][:icon] %>" aria-hidden="true"></i>
  </span>
  </a>
  <div class="info-box-content ibx-main">
    <p>
      <span class="ibx-main-title"><%= @param[:title] %></span>
      <span class="ibx-main-text">Level <%= @node.level %></span>
      <br />
      <span class="ibx-main-text">
      <%- if @node.level > 1 -%>
        Last alert happened at <b><%= @last_alerted %></b>.
      <%- else -%>
        No alert in last <b><%= @no_alert_span %></b>.
      <%- end -%>
      </span>
    </p>
    <div class="row" align="center">
      <a href="/forwards/<%= @node.group %>" class="btn btn-default btn-lg ibx-btn"><i class="fa fa-envelope-o"></i> Notifications</a>
      <a href="/inwards/<%= @node.group %>" class="btn btn-default btn-lg ibx-btn"><i class="fa fa-feed"></i> Alerts</a>
    </div>
  </div>
</div>
<div class="row">
<%- @children.each do |c| -%>
  <div class="col-md-4">
    <div class="info-box bg-<%= c[:style][:color] %> ibx-child">
      <a href="/board<%= c[:group] %>" class="icon">
      <span class="info-box-icon">
        <i class="icon fa <%= c[:style][:icon] %>" aria-hidden="true"></i>
      </span>
      </a>
      <div class="info-box-content">
        <p>
        <a href="/board<%= c[:group] %>" class="ibx-child-header">
        <i class="icon fa fa-angle-double-right" aria-hidden="true"></i>
        <span><%= c[:relative_group] %></span><br />
        </a>
        <span class="ibx-child-title"><%= c[:title] %></span>
        Lv <%= c[:level] %>
        </p>
        <div class="row" align="center">
          <a href="/forwards<%= c[:group] %>" class="btn btn-default btn-sm ibx-btn-sm"><i class="fa fa-envelope-o"></i> notifics</a>
          <a href="/inwards<%= c[:group] %>" class="btn btn-default btn-sm ibx-btn-sm"><i class="fa fa-feed"></i> alerts</a>
        </div>
      </div>
    </div>
  </div>
<%- end -%>
</div>

</section>
<!-- /.content -->
