<h3>Alert Level = <%= @node.level %></h3>
<div class="alert alert-<%= @param['style']['alert'] %> <%= @param['style']['box'] || '' %>">
  <h1>
    <i class="icon fa <%= @param['style']['icon'] %>" aria-hidden="true"></i>
    <%= @param['title'] %>
    <span style="font-size: 18px;">Level <%= @node.level %></span>
  </h1>
  <p>No alert in last xx hours.</p>
</div>
