<!-- Content Header (Page header) -->
<section class="content-header">
<h1>Message
<%- @group_breadcrumb.each do |bc| -%>
  <span class="icon">
  <i class="icon fa fa-angle-double-right" aria-hidden="true"></i>
  </span>
  <a href="<%= bc[:path] %>"><%= bc[:name] %></a>
<%- end -%>
  <span class="icon">
  <i class="icon fa fa-angle-double-right" aria-hidden="true"></i>
  </span>
  #<%= @message.id %>
</h1>
</section>

<!-- Main content -->
<section class="content">

<!-- Message -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">#<%= @message.id %> : <%= @message.title %></h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" type="button" data-widget="collapse" style="text-align: right; width: 400px; margin-right: 10px;">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
<div class="box-body">
<table class="table table-bordered">
  <tbody>
  <%- %w(title group level type address body misc delivered_at expire_at).each do |col| -%>
  <tr <% if col == 'level' %>class="<%= @message.style[:alert] %>"<% end %>>
    <th><%= col.extend(CamelSnake).to_pascal %></th>
    <td><%= @message.prop_for_web(col) %></td>
  </tr>
  <%- end -%>
  </tbody>
</table>
</div> <!-- ./box-body -->
</div> <!-- ./box -->

<!-- Items the message contains -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Items</h3>
  </div>
<div class="box-body">
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Level</th>
      <th>Message</th>
      <th>ReceivedAt</th>
      <th>ExpireAt</th>
    </tr>
    <%- @items.each do |i| -%>
    <tr class="<%= i.style[:alert] %>">
      <td><a href="/item/<%= i.id %>"><%= i.id %></a></td>
      <td><%= i.name %></td>
      <td><%= i.level_text %></td>
      <td><%= i.message_html %></td>
      <td><%= i.received_at %></td>
      <td><%= i.expire_at %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- ./box-body -->
</div> <!-- ./box -->

</section>
<!-- /.content -->
